body {
   background-image: none;
}


#wrapper {
   background-color: whitesmoke;
    width: 1200px;
    margin: auto;
}

#header {
    background-color:rgba(0, 0, 0, 0.8);
    width: 1200px;
    height: 200px;
    font-size: 35px;
    margin: auto;
}

#identifier {
    font-weight: 0;
    text-align: center;
    line-height: 200px;
    margin: 0;
    font-family: Calibri, sans-serif;
    color: white;
}

#content {
    padding: 10px;
}

#about {
    width: 750px;
    display: inline-block;
    vertical-align: top;
    height: auto;
    margin-left: 20px;
    font-family: sans-serif;
}

p, a {
    font-family: sans-serif;
}

h1, h2 {
    font-family: sans-serif;
    color: #000000;
}

h3, h4 {
    font-family: sans-serif;
    color: #060f0a;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 340px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
    font-family: sans-serif;
}

#eiffel {
    margin: 5px;
  width: 340px;
}

ul.navbar{
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #333;
     position: -webkit-sticky;
  position: sticky;
  top: 0;
    width: 1200px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active:hover {
    background-color: #C73E3A;
}

.active {
  background-color: #E04541;
}

img.logbog_billede {
    border-radius: 2%;
    border-style: solid;
    border-color: #a1322f;
    margin: 5px;
    width: 30%;
}